$ancho:100%;
$altura:400px; 
$fuente:'Noto Sans JP', sans-serif;
$alineado:center;
$tamFuente:20px;
$pad:$tamFuente+10px;

* {
    margin: 0;
    padding: 0;
}

.Contenedor:hover .txt{
    height: 50%;
    display: block;
}

body{
    padding: 20px;

    .Contenedor{
        width: $ancho;
        height: $altura;
        position: relative;
        overflow: hidden;
        z-index: 1;

        .txt{
            display: block;
            position: absolute;
            bottom: 0%;
            z-index: 2;
            background: rgba(0,0,0,.3);
            width: $ancho;
            height: 60%;
            padding: 10px;
            -webkit-transition:all 1s ease;
            text-align: center;
            font-weight: bold;
            font-family: $fuente;
            font-size: 35px;
            border-radius: 5px;
            h1{
                font-size: 45px;
            }

            .encabezado{
                text-align: $alineado;
                font-family: $fuente;
                font-size: 20px;
            }
        }

        img{
            opacity:0.4;
            filter:alpha(opacity=40);
            width: $ancho;
            height: 100%;
        }

    }
    .Pantalones{
        text-align: $alineado;
        font-family: $fuente;
        font-size: $tamFuente;
        padding: $pad;

        .pantalonImg{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .nosotros{
        text-align: $alineado;
        font-family: $fuente;
        font-size: $tamFuente;
        padding: $pad;
    }

    .Preguntas{
        text-align: $alineado;
        font-family: $fuente;
        font-size: $tamFuente;
        padding: $pad;
        
        strong{
            font-size: 20px;
        }

        .pregun{
            font-weight: bold;
            font-style: italic;
        }

    }

    .mayorista{
        text-align: $alineado;
        font-family: $fuente;
        font-size: $tamFuente;
        padding: $pad;
    }

    .blog{
        text-align: $alineado;
        font-family: $fuente;
        font-size: $tamFuente;
        padding: $pad;
    }

    footer{
        .redes{
            height: 150px;
            background-color: #9b9b9b;
            padding: 30px;
            opacity:0.8;
            filter:alpha(opacity=80);
    
            p{
                font-family: $fuente;
                text-align: center;
            }

            .sociales{
                text-align: center;
                padding-top: 15px;

                li{
                    display: inline-block;

                    a{
                        padding: 10px;
                    }
                }
            }
        }

    }
}

